/*colors*/
/*basic settings*/
html {
  font-family: "Helvetica LT Std", sans-serif;
  font-size: 10px;
}

/*typography*/
section {
  /*padding: 100px 0;*/
}

/*buttons*/
.button {
  border-radius: 30px;
  font-weight: bold;
}

.wrapper {
  max-width: 1920px;
  margin: 0 200px;
}

.head {
  /*for fixed menu positioning*/
  /*position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;*/
  /*height: 1040px;*/
  background-image: url(../img/background/headerBackground.png), url(../img/background/headerBackgroundRectangle.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: 98% auto, auto auto;
}
.head .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.head .menu-sidebar {
  font-size: 16px;
  font-weight: bold;
}
.head .menu-sidebar-nav {
  display: inline-block;
}
.head .menu-sidebar-nav-list {
  display: flex;
}
.head .menu-sidebar-nav-list_item {
  margin-right: 40px;
}
.head .menu-sidebar-nav-list_item > a {
  color: #ffffff;
  text-decoration: none;
}
.head .menu-sidebar_phone {
  background-color: #ffffff;
  color: #091e42;
  border: none;
  border-bottom-right-radius: 0;
  padding: 15px 30px;
}
.head .info {
  margin-top: 200px;
  /*margin-bottom: 300px;*/
  color: #ffffff;
}
.head .info h1 {
  font-size: 76px;
  font-weight: bold;
}
.head .info p {
  font-size: 30px;
  max-width: 560px;
}
