<section class="clientsLove">
    <div>
        <div class="clientsLove-title">
            <h2>Clients Love SEO.WhiteKing</h2>
            <p>Every business and industry requires a specific targeted approach. We have experience working</p>

            <div>
                <a href="#">Play Video</a>
                <img src="" alt="play video" />
            </div>
        </div>
    </div>
</section>
