<section class="googlePartner">
    <div>

        <div class="googlePartner-advantages">
            <div class="googlePartner-advantages_box">
                <img src="" alt="" />
                <h4>Success Stories</h4>
                <p>Before working with SEO.WhiteKing international URLs appearing in the search results were</p>
            </div>
            <div class="googlePartner-advantages_box">
                <img src="" alt="" />
                <h4>Superior Performance</h4>
                <p>Get the best teams, tools, results and technologies you've ever had in your business.</p>
            </div>
            <div class="googlePartner-advantages_box">
                <img src="" alt="" />
                <h4>Experience Matters</h4>
                <p>SEO.WhiteKing is an online marketing firm with more than 10 years of experience helping companies</p>
            </div>
            <div class="googlePartner-advantages_box">
                <img src="" alt="" />
                <h4>Future-Proof Business</h4>
                <p>We conduct deep research before we start any project for our clients. Our state of art SEO</p>
            </div>
        </div>

        <div class="googlePartner-title">
            <h2>Work with Certified Google Partner</h2>
            <p>We take you as a part of the team member and provide all details to make effective data decision</p>

            <div>
                <a href="#">More Details</a>
                <img src="" alt="more details" />
            </div>
        </div>

    </div>
</section>
