<section class="happyClients">
    <div>
        <h2>Our Happy Customers</h2>

        <div class="happyClients-box">

            <div class="happyClients-box-feedback">
                <img src="#" alt="Alternate Text" />
                <p>I've been working with Blue Corona for over seven years, but before that, I was doing it all in-house.</p>

                <div class="happyClients-box-feedback_clientinfo">
                    <img src="#" alt="Alternate Text" />
                    <h5>Clara Anderson</h5>
                    <span>CEO of SEOlutions G</span>
                </div>

            </div>
        </div>
    </div>
</section>