<header>
    <div>
        <img src="" alt="SEO.WhiteKing logo" />
        <div>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div>
            <a href="#"></a>
        </div>
    </div>

    <div>

    </div>
</header>

<h1>заголовок</h1>
<h2>заголовок</h2>
<h3>заголовок</h3>
<h4>заголовок</h4>
<h5>заголовок</h5>
