@inject IConfiguration Configuration
@{
    AppSettings? appSettings = Configuration.GetSection("Project").Get<AppSettings>();
}

<section class="head">
    <div class="menu headerwrapper">

        <div class="menu-logo">
            <a href="#"><img src="~/img/logo/Logo.png" alt="SEO.WhiteKing logo" /></a>
        </div>

        <div class="menu-sidebar">
            <nav class="menu-sidebar-nav">
                <ul class="menu-sidebar-nav-list">
                    <li class="menu-sidebar-nav-list_item"><a href="#">Home</a></li>
                    <li class="menu-sidebar-nav-list_item"><a href="#">About Us</a></li>
                    <li class="menu-sidebar-nav-list_item"><a href="#">What We Do</a></li>
                    <li class="menu-sidebar-nav-list_item"><a href="#">Our Blog</a></li>
                    <li class="menu-sidebar-nav-list_item"><a href="#">Testimonials</a></li>
                </ul>
            </nav>

            <button class="menu-sidebar_phone button">
                @(ViewBag.Phone ?? @appSettings?.Company?.CompanyPhone)
            </button>
        </div>

    </div>
    
    <div class="info headerwrapper">
        <h1>Your Business <br /> Win Online</h1>
        <p>
            A top-of-the-line SEO agency can help you increase site traffic, conversions, and ROI
        </p>
        <div class="info-btns">
            <button class="button">Work With Us</button>

            <a href="#" class="info-btns-whoWeAre">
                <img src="~/img/icons/play.png" alt="play" />
                <span class="info-btns-whoWeAre_play">Who we Are</span>
            </a>
        </div>
    </div>
</section>

