<!DOCTIPE HTML>
<html lang="ru">
<head>
    @await Html.PartialAsync("_MetaPartial")
    @await Html.PartialAsync("_CssPartial")
</head>

<body>
    <header class="header">
        @await Html.PartialAsync("_HeaderPartial")
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <footer class="footer">
        @await Html.PartialAsync("_FooterPartial")
        @* @await Html.PartialAsync("_ScriptsPartial") *@
    </footer>
</body>
</html>