@inject IConfiguration Configuration
@{
    AppSettings? appSettings = Configuration.GetSection("Project").Get<AppSettings>();
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@(ViewBag.Title ?? appSettings?.Company?.CompanyName)</title>