<section class="statistic">
    <img class="statistic-line" src="~/img/statisticCount/horisontalDivider.png" alt="_" />

    <div class="statistic-block wrapper">

        <div class="statistic-block-info">
            <img class="statistic-block-info_img" src="~/img/statisticCount/Icon1.png" alt="Happy Clients" />
            <div><span class="statistic-block-info_number">2,566</span></div>
            @* <img class="statistic-block-info_divided" src="~/img/statisticCount/verticalDivider.png" alt="" /> *@
            <span class="statistic-block-info_text">Happy Clients</span>
        </div>

        <div class="statistic-block-info">
            <img class="statistic-block-info_img" src="~/img/statisticCount/Icon2.png" alt="SEO projects" />
            <div><span class="statistic-block-info_number">4,860</span></div>
            @* <img class="statistic-block-info_divided" src="~/img/statisticCount/verticalDivider.png" alt="" /> *@
            <span class="statistic-block-info_text">SEO PROJECTS</span>
        </div>

        <div class="statistic-block-info">
            <img class="statistic-block-info_img" src="~/img/statisticCount/Icon3.png" alt="team members" />
                    <div><span class="statistic-block-info_number">52</span></div>
            @* <img class="statistic-block-info_divided" src="~/img/statisticCount/verticalDivider.png" alt="" /> *@
            <span class="statistic-block-info_text">TEAM MEMBERS</span>
        </div>

        <div class="statistic-block-info">
            <img class="statistic-block-info_img" src="~/img/statisticCount/Icon4.png" alt="years in business" />
            <div><span class="statistic-block-info_number">10</span></div>
            @* <img class="statistic-block-info_divided" src="~/img/statisticCount/verticalDivider.png" alt="" /> *@
            <span class="statistic-block-info_text">YEARS IN BUSINESS</span>
        </div>

    </div>
</section>