<section class="talkToUs">
    <div>
        <div class="talkToUs-block">
            <div class="talkToUs-block_form">

                <form action="/" method="post">
                    <input type="" value="" placeholder="Name"/>
                    <input type="email" value="" placeholder="Email"/>
                    <input type="" value="" placeholder="Subject"/>
                    <input type="" value="" placeholder="How can we help?"/>
                    <button>Send Your Query</button>
                </form>
            </div>
            <div class="talkToUs-block-links">

                <div class="talkToUs-block-links_address">
                    <img src="#" alt="Alternate Text" />
                    <div>
                        <span>Address</span>
                        <span>701 Chicago Avenue, California</span>
                    </div>
                </div>
                <div class="talkToUs-block-links_phone">
                    <img src="#" alt="Alternate Text" />
                    <div>
                        <span>Phone</span>
                        <span>209-999-8566</span>
                    </div>
                </div>
                <div class="talkToUs-block-links_email">
                    <img src="#" alt="Alternate Text" />
                    <div>
                        <span>Email</span>
                        <span>info@seowhiteking.com</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="talkToUs-map">

        </div>
    </div>
</section>
