<section class="provided">
    <div class="wrapper">
        <h2>We Are Provided</h2>

        <div class="provided-content">
            <div class="provided-content-card">
                <img src="~/img/We are Provided/Content Marketing.png" alt="Content Marketing" />
                <div class="provided-content-card_text">
                    <h4>Content Marketing</h4>
                    <p>
                        Grow loyalty of your clients, get social and drive in traffic and organic SEO backlinks with content strategy.
                    </p>
                </div>
            </div>

            <div class="provided-content-card">
                <img src="~/img/We are Provided/Pay-Per-Click.png" alt="Pay-Per-Click" />
                <div class="provided-content-card_text">
                    <h4>Pay-Per-Click</h4>
                    <p>
                        More than just an SEO Agency, we also target the paid section of the Search Engines and Social Media Platforms to grow your online presense.
                    </p>
                </div>
            </div>

            <div class="provided-content-card">
                <img src="~/img/We are Provided/Local SEO.png" alt="Local SEO" />
                <div class="provided-content-card_text">
                    <h4>Local SEO</h4>
                    <p>
                        Prominent placement in Google My Business, Reputation Management and SEO services for your region.
                    </p>
                </div>
            </div>

            <div class="provided-content-card">
                <img src="~/img/We are Provided/Social Media Marketing.png" alt="Social Media Marketing" />
                <div class="provided-content-card_text">
                    <h4>Social Media Marketing</h4>
                    <p>
                        True social media success comes through a combination of organic social media marketing and paid social ads.
                    </p>
                </div>
            </div>

            <div class="provided-content-card">
                <img src="~/img/We are Provided/Data Analysis.png" alt="Data Analysis" />
                <div class="provided-content-card_text">
                    <h4>Data Analysis</h4>
                    <p>
                        Get more website traffic, more customers, and more online visibility with powerful and precise
                    </p>
                </div>
            </div>

            <div class="provided-content-card">
                <img src="~/img/We are Provided/SEO Optimization.png" alt="SEO Optimization" />
                <div class="provided-content-card_text">
                    <h4>SEO Optimization</h4>
                    <p>
                        Everything starts with research with Search Engine Optimization. Our extensive keyword analytical experience
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

