<section class="devForYou">
    <div>
        <h2>Find Out What SEO.WhiteKing Can Develop For You</h2>
        <div>
            <form>
                <input type="" value="" placeholder="Your Name"/>
                <input type="" value="" placeholder="Email Address" />
                <button>Submit</button>
            </form>
        </div>
    </div>
</section>
