<section class="ourService">
    <div class="wrapper">
        <h2>Why Choose Our Services</h2>

        <div class="ourService-block">

            <div class="ourService-block_video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xDW-IBa_n3s?si=KO5k73QffPP7ljB3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <div class="ourService-block_text">
                <ol>
                    <li>SEO.WhiteKing is a certified Google Partner</li>
                    <li>Our team is filled with specialists in SEO</li>
                    <li>Our developers manage the effective websites</li>
                    <li>We’ve used to help world leading brands</li>
                    <li>Given the diverse and deep talents</li>
                    <li>Especially considering our very reasonable rates</li>
                    <li>Our Services can help you to boost your ranking</li>
                    <li>Our extensive keyword analytical experience</li>
                </ol>
            </div>

        </div>
    </div>
</section>