/*colors*/
$text-color-dark: #091e42;
$text-color-light: #ffffff;
$text-color-gray-dark: #3c3c3c;
$text-color-gray-light: #9ea7b8;
$hover-color-gray: #42526e;
$links-color: #3e6dd9;
$icons-metric-color: #003ecd;
$icons-contact-color: #1079c8;
$icons-social-color: #01d4ed;
$icons-provided-color: #253858;
$buttons-color: #36e7b1;

/*basic settings*/
html {
    font-family: 'Helvetica LT Std', sans-serif;
    font-size: 10px;
}

/*typography*/
section{
    /*padding: 100px 0;*/
}

/*buttons*/
.button {
    border-radius: 30px;
    font-weight: bold;
    border: none;
}

.headerwrapper {
    max-width: 1920px;
    margin: 0 200px;
}

.wrapper{
    max-width: 1920px;
    margin: 0 280px;
}



.head {
    /*for fixed menu positioning*/
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;*/
    /*height: 1040px;*/
    min-height: 940px;
    background-image: url(../img/background/headerBackground.png), url(../img/background/headerBackgroundRectangle.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 98% auto, auto auto;

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;

        &-sidebar {
            font-size: 16px;
            font-weight: bold;

            &-nav {
                display: inline-block;

                &-list {
                    display: flex;

                    &_item {
                        margin-right: 40px;

                        & > a {
                            color: $text-color-light;
                        }
                    }
                }
            }

            &_phone {
                background-color: $text-color-light;
                color: $text-color-dark;
                border-bottom-right-radius: 0;
                padding: 15px 30px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .info {
        margin-top: 200px;
        color: $text-color-light;

        h1 {
            font-size: 76px;
            font-weight: bold;
            line-height: 76px;
            margin-bottom: 20px;
        }

        p {
            font-size: 30px;
            max-width: 570px;
            line-height: 40px;
            margin-bottom: 50px;
        }

        &-btns {
            display: flex;
            align-items: center;

            button {
                padding: 15px 40px;
                font-size: 18px;
                color: $text-color-light;
                background-color: $buttons-color;
                margin-right: 25px;
            }

            &-whoWeAre {
                &_play {
                    font-size: 18px;
                    color: #01d6ec;
                }

                span {
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }
        }
    }
}

.provided {
    margin-top: 60px;

    h2 {
        color: $text-color-dark;
        text-align: center;
        font-size: 46px;
        font-weight: bold;
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

        &-card {
            display: flex;
            gap: 25px;
            align-items: flex-start;
            max-height: 200px;
            max-width: 480px;
            margin-top: 100px;

            img {
                width: 65px;
                height: 65px;
            }

            &_text {
                h4 {
                    color: $text-color-dark;
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 35px;
                }
            }
        }
    }
}

.statistic {
    > img {
        margin: 100px auto 70px auto;
        display: block;
    }

    &-block {
        display: flex;
        justify-content: space-around;
        text-align: center;

        &-info {

            /*&:not(:last-child) {*/
                .statistic-block-info_number::after {
                    content: "";
                    display: inline-block;
                    width: 3px;
                    height: 51px;
                    margin-left: 70px;
                    margin-right: -73px;
                    background-image: url('../img/statisticCount/verticalDivider.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                }
            /*}*/


            &_img {
                width: 40px;
                height: 40px;
                display: block;
                margin: 0 auto;
                margin-bottom: 30px;
            }

            &_number {
                font-size: 46px;
                font-weight: bold;
                color: $icons-metric-color;
                line-height: 46px;
            }

            &_text {
                margin-top: 10px;
                display: block;
                text-transform: uppercase;
                font-size: 18px;
                color: $icons-metric-color;
            }
        }
    }
}

.ourService {
    background-image: url("../img/WhyOurService/ourServiceLayer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    div {

        h2 {
            color: $text-color-dark;
            padding-top: 200px;
            font-size: 46px;
            font-weight: bold;
            text-align: center;
        }
    }

    &-block {
        margin-top: 70px;
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: center;
        align-items: center;
        gap: 40px;

        &_video {
            width: 54%;
            text-align: right;

            iframe {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                border-radius: 8px;
            }
        }

        &_text {
            width: 46%;
            color: $text-color-dark;
            font-size: 20px;
            font-weight: 500;
            font-style: normal;

            ol {

                li {
                    margin-bottom: 10px;

                    &:before {
                        content: "";
                        display: inline-block;
                        width: 16px; /* ширина стрелки */
                        height: 16px; /* высота стрелки */
                        margin-right: 15px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        vertical-align: middle;
                        background-image: url('../img/WhyOurService/Arrow.png');
                    }
                }
            }
        }
    }
}

.googlePartner{

}

.clientsLove{

}

.happyClients{

}

.talkToUs{

}

.devForYou{

}

.footerInfo{

}

